@import "var";
@import "most";
// components
@import "components/header";
// @import "components/sidebar";

.main {
  &__wrapper {
    @include gridTemplate;
  }
}
.nav {
  height: 90px;
  @include flex(column, center);

  a {
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    color: #000;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    span {
      padding-bottom: 5px;
    }

    .activ,
    &:hover {
      border-bottom: 3px solid #000000;
    }
  }

  @include mob {
    a {
      font-size: 20px;
    }
    height: 50px;
  }
}

.intro {
  background-image: url(../../img/main.png);
  background-size: cover;
  max-width: 1920px;
  background-position: center, center;
  min-height: 800px;
  margin: 0 auto;
  padding: 3rem 0;

  @include tablet {
    min-height: auto;
    background-attachment: unset;
    padding: 5rem 0;
    background-position: top left;
  }

  &__heading {
    padding-top: 5%;
    @include flex(column, flex-start, flex-start);
    display: inline-flex;
  }

  h1 {
    font-weight: normal;
    font-size: 45px;
    font-weight: 800;
    font-size: 50px;
    color: #fff;
    background-color: #ff0000;
    display: inline-block;
    padding-top: 30px;
    padding-right: 40px;
    line-height: 0.8;

    @include mob {
      font-size: 30px;
      padding-right: 20px;
      padding-top: 20px;
    }

    @include min {
      font-size: 24px;
    }
  }
}
.brands {
  .desctop {
    @include mob {
      display: none;
    }
  }
  .mob {
    display: none;
    @include mob {
      display: block;
    }
  }
  img {
    max-width: 1310px;
    width: 100%;
  }
}

.products {
  h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;

    @include desctop {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 260px 1fr 30px;
    align-items: center;
    text-decoration: none;

    @include mob {
      grid-template-columns: 180px 1fr 20px;
    }

    @include min {
      grid-template-columns: 140px 1fr 20px;
    }

    h4 {
      font-weight: bold;
      font-size: 24px;
      padding-left: 20px;
      color: #000;
      max-width: 240px;

      @include min {
        font-size: 17px;
      }
    }

    [src="img/arrow.png"] {
      width: 20px;

      @include mob {
        width: 15px;
      }

      @include min {
        width: 12px;
      }
    }
  }
}

.prod-item-img {
  width: 100%;
}
