@import "vars"
@import "most"
@import "offer"
@import "anim"

// ========================>
// header
// <=======================
.main
  background-image: url(../../img/main_bg.png)
  padding-bottom: 1.1rem
.main__top
  margin-bottom: 0.5rem
  span
    width: 2rem
    display: block
    font-size: 0.24rem
  .accent
    font-size: 0.34rem
.main__heading
  text-align: center
  font-style: italic
  color: #5b5b5f
  font-weight: 700
  margin: 0

.price
  width: 1.6rem
  height: 0.6rem
  background-image: url(../../img/price.png)
  background-size: contain
  background-repeat: no-repeat
  display: flex
  align-items: center
  justify-content: center
  font-size: 0.3rem
  color: #fff
  margin: auto
    top: 4rem

.main__bul
  display: flex
  align-items: center
  margin-bottom: 0.25rem
  &:last-child
    margin-bottom: 0
  img
    flex-shrink: 0
    width: 0.24rem
    margin-right: 0.25rem

.main__builets
  padding: .35rem 0
.sect2
  padding-bottom: 0.2rem
.sect3
  background-image: url(../../img/sect3_bg.png)
  padding-top: 1rem

.sect3-autor__wrap
  margin-top: -0.3rem
  position: relative
  color: #5b5b5f
  margin-bottom: 0.3rem
.sect3-autor__name
  background-image: url(../../img/sect3_name.png)
  background-size: contain
  background-repeat: no-repeat
  width: 2.1rem
  height: 0.55rem
  margin: auto
  display: flex
  align-items: center
  justify-content: center
  color: #fff
  font-size: 0.2rem
  font-weight: bold
  position: relative
.sect3-autor__content
  width: 2.4rem
  background-color: #fff
  margin: auto
  box-shadow: 0 5px 20px rgba(39, 39, 39, 0.18)
  border-radius: 8px
  box-sizing: border-box
  padding: .25rem
    top: 0.45rem
  margin-top: -0.3rem
  text-align: center
  b
    color: #5b5b5f

.sect3__quet
  position: relative
  padding: .5rem .15rem
    bottom: 0.3rem
  p
    margin: 0
    color: #333333
    font-style: italic
  img
    position: absolute
    width: 0.5rem
  .left-quote
    left: 0
    top: 0
  .right-quote
    right: 0
    bottom: 0