@import "vars";
@import "most";
@import "offer";
@import "anim";
@import "reviews";
@import "timer";
.intro {
  padding-bottom: 0.8rem;
  &__top {
    background-image: url(../../img/intro_top.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 7.2rem;
    padding-top: 0.13rem;
  }
  &__title {
    margin: 0;
    margin-left: 0.24rem;
    font-weight: bold;
    width: 1.81rem;
    color: #000;
    line-height: 0.3rem;
    font-size: .18rem;
    b {
      text-transform: uppercase;
      color: #ff3062;
      font-weight: 900;
      font-size: 0.25rem;
      display: block;
    }
  }
  &__triger {
    transform: rotate(-14.65deg);
    font-weight: bold;
    color: #fff;
    margin: 0;
    margin-left: 0.1rem;
    width: 1.8rem;
    font-size: 0.13rem;
    margin-top: 0.47rem;
  }
  &__subtitle {
    width: 2.77rem;
    margin: auto;
    text-align: center;
    margin-top: 1.2rem;
    span {
      font-weight: bold;
      display: block;
      font-size: 0.2rem;
    }
    img {
      width: 1.46rem;
    }
  }
}
.sect1 {
  padding-top: 0;
  position: relative;
  padding-top: 0.6rem;
  &__title {
    color: #3e5581;
    font-size: 0.23rem;
    font-weight: 500;
    padding-bottom: 0.6rem;
  }
  &__absol {
    position: absolute;
    top: -0.3rem;
    left: 0;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1.5rem 3.2rem;
    grid-template-rows: 0.9rem 0.7rem 0.7rem 0.9rem 1.1rem 0.9rem 0.8rem 1rem;
    .prod {
      grid-row-start: 1;
      margin-top: -0.3rem;
      grid-row-end: 9;
      width: 1.75rem;
      z-index: 9;
    }
  }
  &__item {
    font-size: 0.18rem;
    @include flex(row);
    align-items: end;
    position: relative;
    p {
      margin: 0;
    }
    img {
      width: 0.45rem;
      margin-right: 0.1rem;
      z-index: 9999;
    }
    &:before {
      content: "";
      width: 1rem;
      height: 0.1rem;
      border-top: 2px dashed #3e5581;
      position: absolute;
      top: 0.2rem;
      left: -0.8rem;
    }
  }
  background: linear-gradient(180deg, #ecfbff, #bef2fe);
}
.sect2 {
  background-image: url(../../img/sect2.png);
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding-top: 0.4rem;
  background-size: contain;
  display: grid;
  grid-template-rows: 4.79rem 1fr;
  padding-bottom: 0.7rem;
  &__title {
    width: 1.81rem;
    padding-top: 1rem;
    font-weight: 600;
    margin-left: auto;
    padding-right: 0.23rem;
    text-transform: none;
    font-size: 0.28rem;
    text-align: right;
    line-height: 0.34rem;
    color: #001a4a;
    b {
      font-weight: 800;
      font-size: 0.5rem;
    }
  }
  .text {
    p {
      width: 4.26rem;
      margin: 0 auto;
      font-weight: 400;
      margin-bottom: 0.2rem;
      &:last-of-type {
        margin-bottom: 0.4rem;
      }
    }
  }
}
.price {
  @include flex(column);
  align-items: flex-start;

  &--header {
    margin-top: 0.45rem;
    margin-left: 0.24rem;
  }
  &__item {
    @include flex(column);
    align-items: flex-start;
    text-transform: uppercase;
    span {
      font-weight: bold;
      font-size: 0.15rem;
    }
    &--top {
      color: #3e5581;
      margin-bottom: 0.1rem;
      b {
        font-weight: 800;
        font-size: 0.64rem;
        line-height: 110%;
      }
    }
    &--bottom {
      color: #8598bc;
      margin-top: -0.1rem;
      s {
        margin-top: 0.05rem;
        font-size: 0.3rem;
        font-weight: 800;
      }
    }
  }
}
.sect3 {
  background: linear-gradient(180deg, #fff4f9, #ffdfee);
  padding: 0;
  &__title {
    color: #3e5581;
    font-weight: 800;
    margin-bottom: 0.2rem;
  }
  &__grid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 0.15rem;
    width: 4.3rem;

    margin: 0 auto;
  }
  &__item {
    background-color: #fff;
    border-radius: 20px;
    @include flex(column, center, flex-start);
    font-size: 0.18rem;
    padding: 0.17rem;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    padding-left: 0.29rem;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    p {
      width: 2.29rem;
      margin-bottom: 0;
      margin-top: 0.12rem;
    }
    b {
      width: 2.73rem;
    }
    &--1 {
      background-image: url(../../img/sect3_1.png);
    }
    &--2 {
      background-image: url(../../img/sect3_2.png);
    }
    &--3 {
      background-image: url(../../img/sect3_3.png);
    }
    &--4 {
      background-image: url(../../img/sect3_4.png);
    }
  }
  &__absol {
    &--top {
      margin-top: -0.3rem;
    }
    &--bottom {
      margin-bottom: -0.8rem;
    }
  }
}
.sect4 {
  padding: 0 0.1rem;
  padding-top: 1.3rem;
  padding-bottom: 0.7rem;
  &__item {
    display: grid;
    grid-template-columns: 1.85rem 1fr;
    grid-gap: 0.19rem;
    align-items: center;
    margin-bottom: 0.22rem;
    p {
      margin: 0;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    &:nth-child(even) {
      grid-template-columns: 1fr 1.85rem;
      grid-gap: 0.3rem;
      p {
        margin-left: 0.2rem;
      }
    }
    b {
      display: block;
    }
  }
}
.sect5 {
  padding: 0;
  &__absol {
    &--top {
      transform: translateY(-0.3rem);
    }
    &--bottom {
      transform: translateY(0.5rem);
    }
  }
  background: linear-gradient(180deg, #ecfbff, #bef2fe);
}
.sect6 {
  padding-top: 0.8rem;
  &__title {
    font-size: 0.3rem;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    width: 2.87rem;
    margin: 0 auto;
  }
  &__grid {
    padding-left: 0.6rem;

    p {
      font-weight: 600;
      font-size: 0.18rem;
      margin: 0;
    }
  }
  &__item {
    display: grid;
    grid-gap: 0.33rem;
    margin-bottom: 0.25rem;
    grid-template-columns: 0.6rem 1.7rem;
    align-items: center;
  }
  &__triger {
    width: 4.5rem;
    background: #3e5581;
    box-sizing: border-box;
    padding: 0.17rem 0.1rem;
    margin-top: 0.4rem;
    padding-left: 0.6rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 0.25rem;
    text-transform: uppercase;
    color: #ffffff;
    img {
      width: 0.64rem;
      padding-right: 0.29rem;
    }
  }
}
