@import "var";
@import "most";
// components
@import "components/header";

.intro {
  background-image: url(../../img/main.png);
  background-size: cover;
  color: #fff;

  &__content {
    width: 50%;
    height: 100%;
    margin-left: auto;
    min-height: 750px;
    @include flex(column, center);

    @include tablet {
      width: 100%;
    }

    h1 {
      font-weight: 800;
      font-size: 45px;
      color: $accent;
      text-transform: uppercase;
    }

    .subhead {
      font-weight: 600;
      font-size: 25px;
    }
  }

  &__price {
    font-size: 80px;
    color: $accent;
    font-weight: bold;
  }

  &__quatity {
    max-width: 276px;
    border: 2px solid #FFFFFF;
    @include flex(row, space-between, center);
    height: 60px;
    font-size: 35px;
    margin: 1rem 0;
    color: #fff;

    button {
      border: 2px solid #FFFFFF;
      background-color: transparent;
      display: block;
      height: 60px;
      width: 60px;
      color: #fff;
      font-size: 35px;
      cursor: pointer;
    }
  }

  &__bot {
    @include flex(row, $item: center);
    img {
      padding-right: 8px;
    }
  }
}



.sect {
  padding: 40px 0;
  h2 {
    font-size: 40px;
    color: #00369F;
    font-weight: bold;
    text-transform: uppercase;
  }

  h3, p {
    margin: 0;
  }

  h3 {
    margin: 4px 0;
  }

  &__row {
    @include flex(row, $item: center, $wrap: wrap);
  }

  &__item {
    padding: 1.4rem;

    &:first-child {
      width: 40%;

      @include tablet {
        width: 100%;
      }
    }

    &:last-child {
      width: 60%;

      @include tablet {
        width: 100%;
      }
    }

    img {
      max-width: 100%;
    }
  }
}
