.swiper-container {
  width: 100%;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}
.gallery-top {
  width: 100%;
}
.gallery-thumbs {
  box-sizing: border-box;
  padding: 10px 0;
  width: 80%;
  position: relative;
}
.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}