@import "vars"
@import "most"
@import "offer"
@import "anim"
@import "reviews"

.sect__border
  background-color: #fff

.main
  background-image: url(../../img/header_bg.jpg)
  padding-bottom: 1.5rem
  position: relative
.logo
  margin-left: 0.5rem
  margin-top: 0.2rem
  img
    width: 2.6rem

.main__title
  text-align: right
  max-width: 1.8rem
  display: block
  position: absolute
  right: 0.3rem
  top: 3.3rem
  font-size: 0.25rem
  color: #353535
  font-weight: 400
  text-transform: lowercase
  line-height: 1.2

.price
  display: flex
  align-items: center
  justify-content: space-around
  margin-top: 3.5rem
  padding: 0 .4rem
  img
    width: 0.34rem
.price__old
  color: $accent
  font-weight: bold
  font-size: 0.35rem
.price__new
  color: $dark
  font-weight: bold
  font-size: 0.55rem

.main__builets
  padding-top: 0.3rem
.main__bul
  display: flex
  align-items: center
  margin-bottom: 0.24rem
  &:last-child
    margin-bottom: 0
  img
    width: 0.5rem
    flex-shrink: 0
    margin-right: 0.25rem

  span
    font-weight: 300
    font-size: 0.2rem

.offer
  margin-top: -1.3rem
  position: relative
.sect2
  padding-bottom: 0
.sect2__img-wrap
  position: relative
  span
    position: absolute
    text-align: center
    top: 0.8rem
    left: 50%
    transform: translateX(-45%)
    line-height: 1.1
    font-size: 0.18rem
    b
      display: block
      color: $accent
      font-size: 0.3rem
      font-weight: 800

.sect3
  padding-bottom: 0
  h2
    b
      display: block
      font-weight: 800
      font-size: 0.4rem

.sect3__img
  padding-left: 0.3rem
  margin-top: 0.3rem
  box-sizing: border-box
.sect3__head
  max-width: 2.6rem
  font-weight: 600
  font-size: 0.25rem
  margin-top: -1.6rem
  b
    font-weight: 900

.sect3-way-wrap
  padding: .15rem
    top: 0.6rem
.sect3-way
  margin-bottom: 0.6rem
.sect3-way__title
  height: 1.2rem
  width: 2.3rem
  margin: auto
  border-radius: 20px
  background-color: $accent
  display: flex
  align-items: center
  justify-content: center
  position: relative
  span
    color: #fff
    text-align: center
    line-height: 1
    font-size: 0.35rem
    font-weight: 500
    b
      display: block
      font-size: 0.5rem
      font-weight: 900
.sect3-way__content
  background-color: #fff
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15)
  border-radius: 20px
  padding: .4rem .22rem
    top: 1rem
  margin-top: -0.6rem
  p
    margin: 0
    b
      display: block

.sect4__sub-head
  text-align: center
  font-weight: 600
  font-size: 0.25rem
  margin-bottom: 0.4rem
.sect5
  padding-bottom: 0.3rem
.sect5__item
  display: flex
  align-items: center
  line-height: 1.1
  margin-bottom: 0.2rem
  &:last-child
    margin-bottom: 0
  img
    flex-shrink: 0
    width: 0.44rem
    margin-right: 0.25rem

.sect7
  padding-bottom: 0.3rem

.sect8__builets
  padding: 0.4rem 0
.sect8__bul
  display: flex
  align-items: center
  margin-bottom: 0.2rem
  &:last-child
    margin-bottom: 0
  img
    flex-shrink: 0
    width: 1rem
    margin-right: 0.25rem