.swiper-slide
  padding: .1rem
  box-sizing: border-box
.slide-content
  padding: .1rem
  box-sizing: border-box
  font-size: 0.19rem
  line-height: 0.22rem
  padding-bottom: 0.2rem
  p
    margin: 0.15rem
      left: 0
      bottom: 0
.slide-name
  text-align: center
  color: #000
  max-width: 2.5rem
  margin: auto
  font-weight: bold