
html
  font-size: 26.666666666667vw
  background: #fff
  @media (min-width: 480px)
    font-size: 128px
    overflow-x: hidden
// html
//   font-size: 20.833333vw
//   @media (min-width: 481px)
//     font-size: 100px
//     overflow-x: hidden
body
  font-size: .16rem
  max-width: 480px
  margin: auto
  position: relative
  line-height: 1.4
  font-weight: 300
  font-family: 'Noto Sans', sans-serif
  color: #1f1f1f
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25)
  input, textarea
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green


section
  padding: .5rem 0
.pad
  padding: .5rem .3rem
.img-wrap
  display: flex
  align-items: center
  justify-content: center
  img
    width: 100%
  &.pad
    padding: .2rem 0
  &.mar
    margin: .2rem 0

.content
  padding: 0 .3rem
  p
    line-height: 1.4
    &:last-child
      margin-bottom: 0

.no-pad
  margin-left: -0.3rem
  margin-right: -0.3rem
  display: block
  width: 3.75rem      
.heading
  padding: .2rem 0
.title
  font-size: 0.26rem
  line-height: 0.35rem
  color: $blue
  margin: 0
  margin-bottom: 0.3rem
  line-height: 1.3
  font-weight: normal
  &.right
    text-align: right
  &.big
    font-size: 0.4rem
  &.black
    color: #000
  span
    font-size: .26rem
    font-weight: bold
    display: block
    color: $accent
  &.upp
    text-transform: uppercase
  b.prod
    text-transform: uppercase
    font-weight: bold
.sub-title
  font-style: italic
  font-size: 0.2rem
  color: #323842
.t-center
  text-align: center
.t-white
  color: #fff
span.accent
  color: $accent
  font-weight: 700

.btn
  display: flex
  align-items: center
  justify-content: center
  width: 3.1rem
  height: 0.76rem
  box-shadow: 0 6px 0 #ea3640
  background: $accent
  box-sizing: border-box
  border-radius: 2px
  margin: auto
  text-decoration: none
  color: #fff
  position: relative
  font-size: 0.18rem
  text-transform: uppercase
  font-weight: bold
  border: none
  outline: none
  background-image: linear-gradient(0.0deg, #1585cb 1%, #9dd9ff 100%)
  border-radius: 10.0px 10.0px 20.0px 20.0px
  box-shadow: 0px 6px 0px 0px #0569a7
  span
    position: relative
.border__top
  width: 4.8rem
  position: absolute
  top: -0.28rem
  left: 0
  right: 0
.border__bot
  width: 4.8rem
  position: absolute
  bottom: -0.28rem
  left: 0
  right: 0
// animation
@keyframes btn
  0%
    transform: scale(1)
  50%
    transform: scale(1.06)
  100%
    transform: scale(1)

.pulse__btn
  position: fixed
  right: 0.2rem
  display: inline-block
  bottom: 0.2rem
  z-index: 12
  box-shadow: 0 0 0 rgba(11, 138, 44, 0.4)
  width: 0.7rem
  height: 0.7rem
  border-radius: 50%
  animation: pulse 2s infinite
  transition: all .9s ease
  &.show
    right: -100%
  img
    width: 100%
img
  width: 100%

.pagination-wrap
  display: flex
  align-items: center
  justify-content: center
  .swiper-pagination-bullet
    width: 0.45rem
    height: 0.11rem
    border-radius: 20px
    background-color: #F2F2F2
    opacity: 1
    margin: 0 3px
    &-active
      background-color: #EB8B8B