@import "vars"
@import "buyers"
@import "most"
@import "offer"
@import "anim"
@import "slick"
@import "slick-theme"
@import "reviews"


.block1
  padding-top: 0.4rem
  padding-bottom: 0
  background-image: url(../../img/bl1_bg.png)
  background-size: cover
.block1__list
  display: grid
  grid-template-rows: repeat(5, 1fr)
  grid-auto-flow: column
  list-style: none
  margin: 0
  padding: 0
.block1__item
  margin-bottom: 0.07rem
  padding-left: 0.25rem
  position: relative
  &:before
    content: ''
    width: 0.1rem
    height: 0.1rem
    background-image: url(../../img/tick.svg)
    background-size: cover
    display: block
    left: 0
    top: 50%
    transform: translateY(-50%)
    position: absolute
.block1__balance
  display: flex
  align-items: center 
  justify-content: center
  width: 100%
  height: 0.8rem
  filter: drop-shadow(0px 10px 15px rgba(152,152,152,0.2))
  border-radius: 8px
  background-color: #fff
  margin-top: 2.8rem
  position: relative
  b
    display: inline-block
    padding: 0.1rem
    line-height: .9
    background: linear-gradient(0deg, #1484cb 1%, #7cccff 100%)
    color: #fff
    border-radius: 6px
.border
  position: absolute
  top: 0.05rem
  bottom: 0.05rem
  right: 0.05rem
  left: 0.05rem
  border: 1px dashed #ebebeb
  border-radius: 8px

.builets
  padding-top: 0.35rem
.builets__item
  display: flex
  align-items: center
  margin-bottom: 0.15rem
  img
    flex-shrink: 0
    width: 0.25rem
    margin-right: 0.2rem
.block3
  background-color: #f0f5ff
.block3__item
  position: relative
  border-radius: 8px
  padding: .2rem
  padding-top: 0.6rem
  background-color: #fff
  margin-bottom: 0.6rem
  img
    position: absolute
    width: 0.8rem
.block3__title
  display: block
  margin-bottom: 0.1rem
.block3__img-item
  position: absolute
  top: 0
  left: 0.22rem
  transform: translateY(-50%)
.block4
  padding-top: 0.2rem
  padding-bottom: 0
.block4__item
  p
    padding: .3rem
    padding-bottom: 0
    margin: 0
    max-width: 70%
  img
    width: 0.2rem
    margin-bottom: -0.35rem

.block5
  background-color: #f0f5ff
.review__body
  position: relative
  padding: 0.2rem
  padding-top: 0.4rem
  outline: none
  background-color: #fff
  margin: 0 .05rem
  border-radius: 8px
.review__title
  display: block
  margin-bottom: 0.25rem
.review__main
  margin: 0
.slick-list
  overflow: inherit
.slick-dots
  margin-top: 0.2rem
  position: static
  display: flex
  align-items: center
  justify-content: center
  li
    width: 0.14rem
    height: 0.14rem
    background: transparent
    border: 2px solid $accent
    border-radius: 50%
    &.slick-active
      background-image: linear-gradient(0.0deg, #1585cb 6%, #9dd9ff 100%)
      border: none
      width: 0.17rem
      height: 0.17rem
    button
      opacity: 0
.review__ava
  width: 0.7rem
  position: absolute
  right: 0.2rem
  top: 0
  transform: translateY(-50%)

.block6
  background-image: url(../../img/bl6_bg.jpg)
  background-size: cover
  height: 5.2rem
  box-sizing: border-box
.block6__title
  margin: 0
  padding: 0 .3rem
  color: #fff
  font-size: 0.22rem
  font-weight: normal
  max-width: 70%
  b
    font-size: 0.26rem
.block7
  h2
    margin-bottom: 0.4rem
.block7__item
  margin-bottom: 0.3rem
  img
    height: 0.39rem
    width: auto
  p
    margin-top: 0.05rem

.block8
  background-color: #f0f5ff
.block8__item
  display: flex
  align-items: center
  margin-bottom: 0.25rem
  &.top
    align-items: flex-start
  .icon
    flex-shrink: 0
    width: 0.6rem
    height: 0.6rem
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%
    background-image: linear-gradient(0.0deg, #1585cb 1%, #9dd9ff 100%)
    margin-right: 0.25rem
  p
    margin: 0

.trigger
  padding: 0.4rem 0.2rem
  background-color: #fff
  position: relative
  border-radius: 8px
  margin-bottom: -0.4rem

  img
    max-width: 2.05rem
    margin: 0 auto
    display: block
    text-align: center
  a
    max-width: 100%

.block9
  background-color: #1786cc
  margin-top: -0.8rem
  padding-top: 1.2rem
  h2
    color: #fff


.block9__item
  padding: 0.2rem
  border: 1px dashed #fff
  position: relative
  border-radius: 8px
  margin-bottom: 0.2rem
  cursor: pointer
  transition: .4s ease all
  &.active
    background-color: #fff
    p
      color: #000
  p
    max-width: 80%
    color: #fff
    margin: 0
  .ticket
    font-size: 0.45rem
    color: #fff
    position: absolute
    top: .15rem
    right: 0.2rem
.hidden-content
  display: none
  padding-top: 0.25rem
  padding-right: 0.25rem
.block10
  background-image: url(../../img/bl10_bg.png)
  background-size: contain
  background-position: bottom
  background-repeat: no-repeat
  padding-bottom: 1.4rem
  position: relative
.block10__content
  padding-top: 0.1rem
.block10__item
  display: flex
  align-items: center
  margin-bottom: 0.4rem
  img
    flex-shrink: 0
    width: 0.8rem
    margin-right: 0.25rem
.block10__heading
  .head
    display: block
    font-size: .24rem
    margin-bottom: 0.08rem
    color: #979797

.offer
  background-image: url(../../img/offer_bg.png)
  background-size: cover
  margin-top: -1.2rem
.offer__content
  position: relative
  background-color: #fff
  border-radius: 8px
  padding: .4rem .2rem
  filter: drop-shadow(0px 10px 15px rgba(152,152,152,0.2))
  box-sizing: border-box
  overflow: hidden
.offer__title
  color: $accent
  font-size: 0.24rem
  font-weight: bold
  text-align: center
  margin: 0
  margin-bottom: 0.2rem
.quest__head
  text-align: center
  font-size: 0.15rem
.progress
  height: 0.1rem
  width: 100%
  border-radius: 5px
  background-color: #f6f6f6
  position: relative
  overflow: hidden
  max-width: 1.8rem
  margin: .1rem auto
  .line
    background-color: $accent
    width: 10%
    position: absolute
    left: 0
    top: 0
    bottom: 0
    border-radius: 5px
    transition: ease all .3s
.form__lable
  text-align: center
  font-size: 0.2rem
form
  max-width: 100%
.form__item
  width: 100%
  width: 2.75rem
  margin: auto
  position: relative
  z-index: 10
  display: inline-block
  box-sizing: border-box
  padding: 0
  margin: 0
  border: none
  .btn
    max-width: 100%
input
  width: 100%
  border-radius: 8px
  font-size: 0.16rem
  margin-bottom: 0.2rem
  &::placeholder
    font-size: 0.16rem
  background-color: #f7f7fd
