@import "vars";
@import "most";
@import "offer";
@import "anim";
@import "reviews";
@import "timer";

.intro {
  background: #7D50DE;
  &__top {
    min-height: 6.12rem;
    padding-top: 0.01rem;
    background-image: url(../../img/intro__top.png);
    background-size: contain;
  }
  &__title {
    text-transform: uppercase;
    font-size: 0.5rem;
    font-weight: 600;
    margin: 0.18rem 0;
    color: #64fcff;
    width: 3.97rem;
    margin-bottom: 0;
  }
  .list {
    padding-right: 0.3rem;
    padding-top: 0.3rem;
    &__item {
      @include flex(row, space-between, center);
      padding-bottom: 0.15rem;
    }
    img {
      width: 0.23rem;
    }
    p {
      width: 3.9rem;
      color: #ffffff;
      padding-right: 1rem;
      box-sizing: border-box;
      font-weight: 500;
      font-size: 0.18rem;
      margin: 0;
    }
  }
  &__text {
    padding-left: 0.23rem;
    box-sizing: border-box;
  }
  .subtitle {
    width: 2.89rem;
    text-transform: uppercase;
    font-size: 0.2rem;
    font-weight: 600;
    color: #ffffff;
  }
  &__triger {
    background-image: url(../../img/triger.png);
    @include flex(row, space-between, flex-end);
    height: 0.75rem;
    padding: 0 0.3rem;
    padding-right: 0.4rem;
    color: #ffffff;
    font-weight: normal;
    font-size: 0.25rem;
    text-transform: uppercase;
    p {
      margin: 0;
    }
  }
  &__bott{
    background-image: url(../../img/intro__bott.png);
    min-height: 5.77rem;
    box-sizing: border-box;
    padding-top: 3.28rem;
    transform: translateY(-3.2rem);
    margin-top: ;
    background-position: top;
  }
}
.sect1 {
  background-size: cover;
  min-height: 15.54rem;
  padding-top: 0.1rem;
  background-image: url(../../img/backround_1.png);
  h2 {
    font-size: 0.36rem;
    font-weight: 500;
    margin: 0.38rem 0;
  }
  .img {
    padding: 0 0.15rem;
    margin-bottom: 0.44rem;
  }
  &__item {
    @include flex(row, space-between, center);
    width: 4.43rem;
    margin-bottom: 0.44rem;
    margin-left: 0.22rem;
    &:last-child {
      margin-bottom: 0;
    }
    p {
      width: 3.46rem;
      color: #ffffff;
      margin: 0;
    }
  }
}
.sect2 {
  padding: 0.1rem 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../img/backround_2.png);
  iframe {
    width: 4.8rem;
    height: 2.94rem;
  }
  .img {
    width: 2.97rem;
    margin: 0 auto;
    margin-top: -0.9rem;
    transform: translateY(0.8rem);
    img {
      width: 2.97rem;
    }
  }
  .content {
    p {
      color: #ffffff;
    }
  }
}
.sect3 {
  background: #407934;
  padding: 0.48rem 0;
  padding-bottom: 0.39rem;
  color: #fff;
  &__text,
  .img {
    width: 4.5rem;
    margin: 0 auto;
  }
  &__text {
    font-weight: 300;
    b {
      display: block;
    }
  }
  .img {
    margin-top: 0.59rem;
    img {
      width: 100%;
    }
  }
}
.sect4 {
  padding: 0.48rem 0;
}
.sect5 {
  padding: 0.6rem 0;
  h2 {
    margin-bottom: 0.4rem;
  }
  &__item {
    @include flex(row, space-between, center);
    width: 2.66rem;
    margin-bottom: 0.44rem;
    margin-left: 0.33rem;
    &:last-child {
      margin-bottom: 0;
    }
    p {
      width: 1.7rem;
      color: #ffffff;
      margin: 0;
      font-size: 0.18rem;
    }
  }
}
.sect1,
.sect3,
.sect5 {
  position: relative;
  background-size: cover;
  background-image: url(../../img/backround_1.png);
}
.sect2,
.sect4 {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../img/backround_2.png);
}
