input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

input[type="number"]
  -moz-appearance: textfield

input[type="number"]:hover,
input[type="number"]:focus
  -moz-appearance: number-input

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0

input
  height: .8rem
  width: 4rem
  padding-left: 0.4rem
  border-radius: 10px
  box-sizing: border-box
  border: none
  font-size: 0.20rem
  color: #333333
  background: #FFFFFF
  box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.15)
  font-weight: bold
  font-family: 'Montserrat', sans-serif
  margin-bottom: 0.4rem
  &:placeholder
    color: #fff


input::-webkit-input-placeholder 
  color: #969696
  font-weight: normal   
input:-ms-input-placeholder 
  color: #969696
  font-weight: normal   
input::-ms-input-placeholder 
  color: #969696
  font-weight: normal   
input::placeholder 
  color: #969696 
  font-weight: normal   

// ========================>
// policy
// <=======================
.policy__bot
  padding-top: 0.4rem
  background: #fff
.policy_wrap
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  min-height: 1rem
  background-color: #3b3c3d
  font-size: 0.16rem
  color: #fff
  text-align: center
  a
    color: #7c7e86