@import "vars"
@import "most"
@import "offer"
@import "anim"

.header__top
  background-color: $accent
.header-socials
  align-items: center
  height: .55rem
.header-socials__item
  margin-right: 0.15rem