@import "var";
@import "most";
// components
@import "components/header";
// @import "components/sidebar";

.main {
  &__wrapper {
    @include gridTemplate;
  }
}

.intro {
  @include flex(row, center, center);
  min-height: 816px;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  width: 100%;

  &__slider {
    width: 100%;
    min-height: inherit;
  }
  .item {
    max-width: 1920px;
    min-height: 816px;
    background-position: center, center;
    background-size: cover;
    @include tablet {
      min-height: 400px;
    }
    @include min {
      min-height: 200px;
    }
  }

  @include tablet {
    min-height: auto;
  }

  h1 {
    font-weight: normal;
    font-size: 45px;
  }
  .container {
    position: absolute;
    left: auto;
    top: auto;
  }
  &__nav {
    padding: 0 10px;
    width: 100%;
    @include flex(row, space-between, center);
    .left,
    .right {
      img {
        max-width: 80px;
        @include tablet {
          max-width: 60px;
        }
        @include mob {
          max-width: 40px;
        }
        @include min {
          max-width: 30px;
        }
      }
    }
  }
}

.products {
  h2 {
    font-size: 35px;
    font-weight: 800;
    text-align: center;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 66px;

    @include tablet {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    background-color: #005aab;
    max-width: 617px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    padding: 73px;
    padding-bottom: 52px;

    a {
      margin-top: 20px;
      text-align: center;
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      font-size: 36.4174px;
      width: 100%;
      @include flex(row, center, center);
      img {
        max-width: 32px;
        margin-left: 17px;
      }
      @media (max-width: 1214px) {
        font-size: 24px;
        img {
          max-width: 27px;
        }
      }
      @include tablet {
        font-size: 30px;
        span{
          width: 200px;
        }
      }
      @include mob {
        font-size: 25px;
      }
      @include flex(row, center, center);
    }
    .prod_img {
      max-width: 471px;
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

.product__wrapper {
  @include flex(column, center, center);
  height: 100%;
  h4 {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
  }
}
