@font-face {
    font-family: 'Intro';
    src: url('../font/subset-Intro.woff2') format('woff2'),
        url('../font/subset-Intro.woff') format('woff'),
        url('../font/subset-Intro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
