input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

input[type="number"]
  -moz-appearance: textfield

input[type="number"]:hover,
input[type="number"]:focus
  -moz-appearance: number-input

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0

form
  box-sizing: border-box
  margin: auto
  display: flex
  align-items: center
  flex-direction: column
  padding-top: 0.6rem
input, textarea
  height: 0.5rem
  width: 3.3rem
  padding-right: 0.7rem
  box-sizing: border-box
  font-size: 0.22rem
  color: #000
  background: none
  border: none
  margin-bottom: 0.4rem
  border-bottom: 2px solid#3F434A
  box-sizing: border-box
  color: #ffffff
input::placeholder
  font-size: 0.22rem
  font-family: inherit
  color: #3D3A37
// ========================>
// policy
// <=======================
  
.input-wrap img 
    position: absolute
    right: 0.3rem
    top: 50%
    transform: translateY(-110%)
    width: 0.33rem

.input-wrap
  position: relative
  width: 3.3rem
  span
    font-size: 0.3rem
    text-transform: uppercase
    color: #FFF23D
  input
    margin-top: 0.2rem
   
.policy_wrap
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  min-height: 1rem
  background-color: #3b3c3d
  font-size: 0.16rem
  color: #fff
  text-align: center
  a
    color: #7c7e86