@import "var";
@import "most";
// components
@import "components/header";
@import "components/nav";
@import "components/slider";
@import "components/timer";

.main {
  margin-top: 3rem;
}

.product {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 3rem;
  min-height: 480px;
  overflow: hidden;
  width: 100%;

  @include desctop {
    grid-template-columns: 1fr;
  }
}

.slider {
  overflow: hidden;
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: 80% auto;
  position: relative;

  @include desctop {
    height: 480px;
  }

  &__arrows {
    position: absolute;
    bottom: 0;
    width: 100%;

    > div {
      width: 40px;
      height: 40px;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      font-size: 20px;
      outline: none;
      @include transition;

      &:after {
        font-size: 20px;
      }
    }

    .swiper-button {
      &-next {
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translateY(-100%);
      }
      &-prev {
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(-100%);
      }
    }
  }
}

.info {
  h1 {
    font-weight: 600;
    font-size: 33px;
    line-height: 40px;
    color: #131414;
    margin: 0;
  }
}

.heading {
  &_sub {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
  }
}


.specials {
  font-size: 21px;

  &__item {
    padding: 0.6rem 0;
    color: #747474;

    &.price {
      span {
        color: #FFBE17;
        font-weight: bold;
      }
      s {
        color: #C4C4C4;
      }
    }

    &.controls {
      .controls {
        max-width: 140px;
        padding: .6rem 0;
        @include flex(row, space-between, center);

        button {
          background-color: #E3E3E3;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          display: block;
          border: none;
          cursor: pointer;
          @include flex(row, center, center);
          color: #000;
          outline: none;
          @include transition;

          &:hover {
            transform: scale(1.1)
          }
        }
      }
    }

    &.quantity {
      color: #122947;
      @include flex(column);
      letter-spacing: 0.01em;

      .line {
        border-radius: 4px;
        background-color: #C4C4C4;
        max-width: 300px;
        height: 8px;
        margin: .6rem 0;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 90%;
          background-color: #3E3D42;
        }
      }
    }
  }
}

.sect {
  margin: 4rem 0;

  &__title {
    text-transform: uppercase;
  }

  &__row {
    @include flex(row, space-between, center);
    background-color: $accent;
    padding: 3rem;

    @include tablet {
      flex-direction: column;
      padding: 3rem 1rem;
    }
  }

  &__item {
    width: 50%;

    @include tablet {
      width: 100%;
    }

    &:first-child {
      @include flex(row, center, center);

      @include tablet {
        margin-bottom: 80px;
      }
    }

    &:last-child {
      p, h2 {
        max-width: 500px;
      }
    }

    img {
      max-width: 100%;
    }
  }
}
