@import "vars"
@import "most"
@import "offer"
@import "anim"

// ========================>
// header
// <=======================
.main
  background-image: url(../../img/main_bg.png)
  padding-top: 0.6rem
.main__top
  color: #fff
  font-size: 0.24rem
  b
    display: block
    color: $accent
.main__title
  color: #fff
  font-size: 0.35rem

.price
  width: 0.77rem
  height: 0.54rem
  display: flex
  align-items: center
  justify-content: center
  border: 1px solid $accent
  span
    font-size: 0.26rem
    font-weight: bold
    color: #fff

.main__builets
  margin-top: 4rem
  padding-left: 0.3rem
.main__item
  color: #fff
  display: block
  font-weight: 400
  display: flex
  align-items: center
  margin-bottom: 0.2rem
  &:last-child
    margin-bottom: 0
  img
    flex-shrink: 0
    margin-right: 0.2rem
    width: 0.12rem

.sect2
  background-image: url(../../img/sect2_bg.png)
  background-position: center bottom
  background-repeat: no-repeat
  background-size: contain
  h2
    margin-bottom: 0.6rem
.sect2__item
  border-radius: 6px
  box-shadow: 0 5px 20px rgba(29, 29, 29, 0.1)
  padding: 0.05rem
  background-color: #fff
  margin-bottom: 0.3rem
  &:last-child
    margin-bottom: 0
.sect2__item-cont
  box-sizing: border-box
  border: 1px solid #e1e1e1
  border-radius: 6px
  background-color: #fff
  padding: .27rem
  padding-top: 0
  p
    margin: 0
  span
    font-weight: bold
    color: $accent
    margin-bottom: 0.16rem
    display: block
  img
    position: relative
    top: -0.2rem
    width: 2.44rem
    flex-shrink: 0
    text-align: center
    display: block
    margin: auto


.sect3
  background-image: url(../../img/sect3_bg.png)
  color: #fff
  h2
    color: #fff

.sect3__item
  background-color: #fff
  padding: 0.05rem
  border-radius: 6px
  box-shadow: 0 5px 20px rgba(29, 29, 29, 0.35)
  position: relative
  margin-bottom: 0.4rem
  &:last-child
    margin-bottom: 0
.sect3__item-content
  padding: 0.05rem
  border: 1px solid #e1e1e1
  border-radius: 6px
  padding: .36rem .27rem
  span
    color: #383838
.sect3__check
  position: absolute
  right: 0.1rem
  top: 0
  width: 0.72rem
  transform: translateY(-40%)

.sect3__bot
  margin-top: 3.4rem