@import "var";
@import "most";
// components
@import "components/header";
@import "components/nav";
// @import "components/sidebar";

.main {
  &__wrapper {
    @include gridTemplate;
  }
}

.intro {
  &__container {
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-gap: 2px;
    height: 507px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    @media (max-width: 1332px) {
      height: 460px;
      p {
        width: 300px;
      }
    }
    @media (max-width: 1156px) {
      height: 400px;
      p {
        width: 270px;
        font-size: 21px;
      }
    }
    @include desctop {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 390px);
      height: auto;
    }
    @media (max-width: 452px) {
      grid-template-rows: repeat(2, 320px);
      .intro__item {
        padding: 10px;
        &--right {
          padding-top: 30px;
        }
      }
      p {
        width: 210px;
        font-size: 18px;
      }
    }
    @include min {
      grid-template-rows: repeat(2, 260px);
      p {
        font-size: 13px;
        width: 175px;
      }
    }
  }
  &__item {
    background-size: cover;

    font-size: 23px;
    text-transform: uppercase;
    color: #000000;
    padding: 60px 54px;
    p {
      max-width: 360px;
      margin: 0;
    }

    &--left {
      padding-right: 8px;
      font-weight: 500;
      background-position: top right;
      background-image: url(../../img/intro_1.png);
      p {
        margin-left: auto;
      }
    }
    &--right {
      background-position: top left;
      background-image: url(../../img/intro_2.png);
      p {
        font-weight: bold;
        color: #fff;
      }
    }
  }
}
.products {
  h2 {
    font-size: 35px;
    font-weight: 800;
    text-align: center;
  }
  &__name {
    font-weight: 600;
    font-size: 22px;
    margin: 0;
    margin-top: 9px;
    margin-bottom: 10px;
  }
  &__main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mob {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    @include flex(column, center, center);
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
    }
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: block;
      @include transition;
      background-color: transparent;
      z-index: 0;
    }

    &:hover {
      &:before {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
    .price {
      @include flex(row, space-between, flex-end);
      max-width: 165px;
      width: 100%;
      margin-bottom: 20px;
      font-weight: bold;
      b {
        font-size: 30px;
        padding-right: 30px;
        line-height: 90%;
      }

      s {
        font-size: 20px;
      }
    }
   
  } 
  &__btn {
      max-width: 165px;
      width: 100%;
      text-align: center;
      padding: 9px 0;
      text-decoration: none;
      background: #000000;
      border: 1px solid #000000;
      box-sizing: border-box;
      font-size: 16px;
      color: #fff;
    }
}

