@import "vars";
@import "most";
@import "offer";
@import "anim";
@import "reviews";
@import "timer";

.intro {
  background: #e6f3f7;
  &__top {
    min-height: 7.12rem;
    padding-top: 0.01rem;
    background-image: url(../../img/intro__top.png);
    background-size: contain;
  }
  &__title {

  }
  .list {
    padding-right: 0.3rem;
    padding-top: 0.3rem;
    &__item {
      @include flex(row, space-between, center);
      padding-bottom: 0.15rem;
    }
    img {
      width: 0.23rem;
    }
    p {
      width: 3.9rem;
      color: #ffffff;
      padding-right: 1rem;
      box-sizing: border-box;
      font-weight: 500;
      font-size: 0.18rem;
      margin: 0;
    }
  }
  &__text {
    padding-left: 0.23rem;
    box-sizing: border-box;
  }
  .subtitle {
    width: 2.89rem;
    text-transform: uppercase;
    font-size: 0.2rem;
    font-weight: 600;
    color: #ffffff;
  }
  &__triger {
    background-image: url(../../img/triger.png);
    @include flex(row, space-between, flex-end);
    background-size: contain;
    height: 0.75rem;
    padding: 0 0.3rem;
    padding-right: 0.4rem;
    color: #ffffff;
    font-weight: normal;
    font-size: 0.25rem;
    text-transform: uppercase;
    p {
      margin: 0;
    }
  }
  &__bott {
    background-image: url(../../img/intro__bott.png);
    min-height: 5.77rem;
    box-sizing: border-box;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 3.28rem;
    margin-top: -3.2rem;
    background-position: top;
  }
  .price {
    &__text {
      margin-left: auto;
      width: 2.4rem;
      color: #ffffff;
      line-height: 0.7;
      span {
        display: block;
      }
      b {
        font-size: 0.67rem;
        font-weight: 800;
        margin-right: 0.1rem;
      }
      s {
        font-size: 0.28rem;
        font-weight: 500;
      }
    }
  }
}
