@import "vars";
@import "most";
@import "offer";
@import "anim";
@import "reviews";
@import "timer";

.intro {
  background: #e6f3f7;
  &__top {
    min-height: 7.12rem;
    padding-top: 0.01rem;
    background-image: url(../../img/intro__top.png);
    background-size: contain;
  }
  .list {
    padding-right: 0.3rem;
    padding-top: 0.3rem;
    img {
      width: 0.16rem;
    }
    p {
      font-size: 0.15rem;
      font-weight: 500;
      width: 1.4rem;
      // margin: 0;
      color: $black;
    }
    &__item {
      box-sizing: border-box;
      background-repeat: no-repeat;
      background-size: contain;
      padding-left: 0.15rem;
      &--1 {
        background-image: url(../../img/list__item--1.png);
        width: 2.4rem;
        box-sizing: border-box;
        min-height: 0.7rem;
        padding-top: 0.08rem;
        p {
          font-weight: 500;
          width: 1.4rem;
          margin: 0;
        }
      }
      &--2 {
        background-image: url(../../img/list__item--2.png);
        width: 2.4rem;
        box-sizing: border-box;
        min-height: 0.7rem;
        padding-top: 0.1rem;
        p {
          font-weight: 500;
          width: 1.4rem;
          margin: 0;
          color: #ffff;
        }
      }
      &--3 {
        background-image: url(../../img/list__item--3.png);
        width: 2.4rem;
        box-sizing: border-box;
        min-height: 0.86rem;
        padding-top: 0.07rem;
        p {
          font-weight: 500;
          width: 1.4rem;
          margin: 0;
        }
      }
    }
    &__box {
      @include flex(row, space-between, center);
      width: 1.73rem;
    }
  }
  &__text {
    padding: 0.13rem;
    padding-top: 0.06rem;
    box-sizing: border-box;
  }
  .subtitle {
    text-transform: uppercase;
    font-size: 0.19rem;
    text-align: center;
    margin-top: 0.02rem;
    font-weight: 300;
    color: $black;
    margin-bottom: 1.09rem;
  }
  &__triger {
    background-image: url(../../img/triger.png);
    @include flex(row, space-between, flex-end);
    background-size: contain;
    height: 0.75rem;
    padding: 0 0.3rem;
    padding-right: 0.4rem;
    color: #ffffff;
    font-weight: normal;
    font-size: 0.25rem;
    text-transform: uppercase;
    p {
      margin: 0;
    }
  }
  &__bott {
    box-sizing: border-box;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 0.58rem;
    padding-bottom: 0.69rem;
    background-position: top;
    .bot {
      margin: 0 auto;
      width: max-content;
      text-align: center;
      img {
        width: 3.27rem;
        display: block;
      }
    }
  }
  .price {
    width: 100%;
    padding-top: 1.13rem;
    @include flex(row, flex-start);
    &__left,
    &__right {
      width: 50%;
      min-height: 1.4rem;
      @include flex(column, center, center);
    }
    &__left {
      background-color: #0fae6c70;
      color: #ffffff;
      font-size: 0.18rem;
      img {
        width: 0.24rem;
      }
      p {
        margin-bottom: 0;
        margin-top: 0.1rem;
        width: 2.11rem;
      }
    }
    &__right {
      background: #ffffff;
    }
    &__text {
      width: 2rem;
      line-height: 1;
      p {
        margin: 0;
      }
      b {
        font-weight: 800;
        font-size: 0.7rem;
        color: $black;
      }
      span {
        font-size: 0.2rem;
        font-weight: 500;
      }
    }
  }
}
.sect1 {
  &__main {
    position: relative;
    z-index: 1;
    padding-left: 0.53rem;
    img {
      position: absolute;
      right: 0;
      z-index: -1;
      top: 0.1rem;
      width: 4.67rem;
    }
    .box {
      display: grid;
      grid-template-rows: 0.41rem 1.76rem 0.41rem 1.39rem 0.65rem 1.92rem;
    }
    .title {
      margin: 0;
      width: 2.9rem;
      font-size: 0.2rem;
      line-height: 1;
      color: $accent;
    }
  }
  .text {
    line-height: 1;
    width: 2.7rem;
    margin: 0;
    font-size: 0.18rem;
  }
}
.sect2{
  background: #E6F3F7;
  &__item{
    @include flex(row,space-between,center);
    margin: 0.29rem 0;
    margin-left: 0.13rem;
    img{
      width: 0.8rem;
      margin-right: 0.23rem;
    }
    p{
      font-weight: 500;
      margin: 0;
    }
  }
  .btn{
    margin-bottom: 0;
  }
}