@import "var";
@import "most";
// components
@import "components/header";
// @import "components/sidebar";

.main {
  &__wrapper {
    @include gridTemplate;
  }
}

.intro {
  background-image: url(../../img/main.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center, center;
  min-height: 900px;
  padding: 3rem 0;

  @include tablet {
    min-height: auto;
    background-attachment: unset;
    padding: 5rem 0;
    background-position: top left;
  }

  h1 {
    font-weight: normal;
    font-size: 45px;
  }
}

.products {
  h2 {
    font-size: 35px;
    font-weight: 800;
    text-align: center;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mob {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    @include flex(column, center, center);
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: block;
      @include transition;
      background-color: transparent;
      z-index: 0;

      @include mob {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    &:hover {
      &:before {
        background-color: rgba(0, 0, 0, 0.5);
      }
      .product__wrapper {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}

.product__wrapper {
  z-index: 1;
  color: #fff;
  transform: translateY(-100%);
  text-align: center;
  opacity: 0;
  height: 100%;
  width: 100%;

  @include flex(column, center, center);
  @include transition;

  @include mob {
    transform: translateY(0);
    opacity: 1;
  }
  

  h4 {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
  }

  .price {
    @include flex(row, space-around, flex-end);

    b {
      font-size: 30px;
      padding-right: 30px;
    }

    s {
      font-size: 20px;
    }
  }

  .btn {
    margin-top: 20px;
    color: #fff;
    border-color: #fff;
  }
}
