.timer
  margin: 0 .15rem
  box-sizing: border-box
  background-size: cover
  padding: .2rem 0

  h3
    text-align: center
    color: #fff
.timer__wrapper
  display: flex
  justify-content: space-around
  align-items: center
  max-width: 3.8rem
  margin: auto
  font-size: .32rem
  font-weight: bold
  div
    display: flex

  span
    display: flex
    justify-content: center
    align-items: center
    width: 0.5rem
    height: .6rem
    background-color: #fff
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25)
    color: #01154E
    margin: 0 .03rem
    border-radius: 8px
.intro__builets
  padding: .2rem .15rem
.intro__bull
  display: flex
  align-items: center
  margin-bottom: 0.3rem
  p
    margin: 0
    color: #fff
  img
    width: 0.2rem
    flex-shrink: 0
    margin-right: 0.2rem

.offer
  background-color: $blue
  padding: .3rem .2rem
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25)
  border-radius: 8px