@font-face {
	font-family: 'Proxima Nova Condensed';
	src:url('../ProximaNovaCond-Regular.eot%40') format('embedded-opentype'),
		url('../font/ProximaNovaCond-Regular.woff') format('woff'),
		url('../ProximaNovaCond-Regular.hxd') format('truetype'),
		url('../img/ProximaNovaCond-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Proxima Nova Extra Condensed';
	src:url('../ProximaNovaExCn-Bold.eot%40') format('embedded-opentype'),
		url('../ProximaNovaExCn-Bold.hxd') format('opentype'),
		url('../font/ProximaNovaExCn-Bold.woff') format('woff'),
		url('../ProximaNovaExCn-Bold-1.hxd') format('truetype'),
		url('../img/ProximaNovaExCn-Bold.svg') format('svg');
	font-weight: 700;
	font-style: italic;
}


@font-face {
	font-family: 'Proxima Nova Extra Condensed';
	src:url('../ProximaNovaExCn-BlackIt.eot%40') format('embedded-opentype'),
		url('../ProximaNovaExCn-BlackIt.hxd') format('opentype'),
		url('../font/ProximaNovaExCn-BlackIt.woff') format('woff'),
		url('../ProximaNovaExCn-BlackIt-1.hxd') format('truetype'),
		url('../img/ProximaNovaExCn-BlackIt.svg') format('svg');
	font-weight: 900;
	font-style: italic;
}


