img {
	max-width: 100%;
	height: auto !important;
}
i { display: inline-block; background: url(../img/sprites.png); }
.price { color: #fff; font-family: "Proxima Nova Extra Condensed", Arial, sans-serif; font-style: italic; font-weight: 900; line-height: initial; }
.price__title { font-size: 64px; }
.price__old {font-size: 48px;text-decoration: line-through;line-height: 1;}
.price__new {font-size: 64px;line-height: 1;}
.price__cur { font-size: 30px; }
.procuct { width: 100%; height: 110px; position: relative; float: left; }
.procuct * { position: absolute; }
.procuct_1 { width: 230px; top: -90px; left: -40px; z-index: 2; }
.procuct_2 { width: 105px; left: 100px; -moz-transform: rotate(6deg); -ms-transform: rotate(6deg); -webkit-transform: rotate(6deg); -o-transform: rotate(6deg); transform: rotate(-6deg); }
.procuct_3 { width: 156px; left: 140px; top: 0; z-index: 2; }
.procuct_4 { width: 100px; left: 240px; -moz-transform: rotate(10deg); -ms-transform: rotate(10deg); -webkit-transform: rotate(10deg); -o-transform: rotate(10deg); transform: rotate(-10deg); }
form input { width: 100%; float: left; height: 50px; line-height: 50px; background: #fff; font-family: "Proxima Nova Condensed", Arial, sans-serif; padding: 0 20px; font-size: 24px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 2px; }
form button { width: 100%; height: 65px; line-height: 65px; background: #FFE537; border-radius: 100px; font-family: "Proxima Nova Extra Condensed", Arial, sans-serif; font-weight: 700; font-size: 36px; text-align: center; padding: 0 20px; }
form button:hover { opacity: .9; cursor: pointer; }
.header {background: url(../img/bg1.jpg) center 0 no-repeat;min-height: 690px;}
.header .top {width: 100%;float: left;margin-bottom: 23px;}
.header .logo { background: url(../img/logo.png) left center no-repeat; height: 70px; padding: 16px 0 0 135px; font-family: Proxima Nova Extra Condensed, Arial, sans-serif; line-height: 20px; font-size: 24px; text-transform: uppercase; font-weight: 700; display: inline-block; float: left; }
.header .top i { width: 46px; height: 46px; margin: 11px 0 0 35px; float: right; }
.header .top i.ico1 { background-position: 0 0; }
.header .top i.ico2 { background-position: -46px 0; }
.header .top i.ico3 { background-position: -92px 0; }
.header h1 {line-height: .87;color: #fff;text-shadow: 0px 4px 0px #000000;margin-bottom: 230px;}
.header h1 span {color: #FFE537;text-transform: uppercase;}
.header h3 {color: #FFE537;text-transform: uppercase;line-height: .9;}
.header .order {float: left;margin: 0 -15px;background: #FF3737;border-radius: 4px;position: relative;padding-top: 10px;}
.header .order i.sale { width: 142px; height: 139px; position: absolute; background-position: 0 -46px; left: 10px; top: -24px; }
.header .price {width: 52%;float: right;}
.header .price__title { color: #fff; }
.header form { width: 100%; float: left; padding: 15px; }
.header input { margin-bottom: 10px; }
.info__title {background: #FFE537;display: inline-block;color: #000;padding: 15px 80px 15px 20px;position: relative;margin-bottom: 48px;height: 110px;}
.info__title h2 {line-height: .8;vertical-align: middle;text-transform: uppercase;}
.info__title:before, .info__title:after { content: ""; position: absolute; }
.info__title:before { border-bottom: 110px solid #FFE537; border-left: 25px solid transparent; left: -25px; bottom: 0; width: 0px; }
.info__title:after { border-top: 110px solid #FFE537; border-right: 25px solid transparent; right: -25px; top: 0; width: 0px; }
.info__title i { width: 82px; height: 82px; position: absolute; background-position: -142px 0; top: 50%; margin-top: -41px; right: 0; }
.info__text { margin-bottom: 95px; line-height: 27px; }
.info_img {width: 620px;margin-top: -90px;margin-left: -40px;margin-bottom: 60px;}
.info_img_product {position: absolute;width: 200px;top: 0px;left: -110px;}
.info .pre_btn { margin: 0 -30px; }
.info .pre_btn h2 {margin-bottom: 40px;line-height: 40px;}
.no_buy {background: url(../img/bg2.jpg) center no-repeat;padding-top: 175px;padding-bottom: 27px;}
.block_center { width: 100%; float: left; text-align: center; }
.no_buy__price {display: inline-block;margin-bottom: 53px;}
.no_buy__price .price { display: inline-block; }
.no_buy .price__title { color: #FFE537; }
.no_buy__price i {width: 142px;height: 139px;background-position: 0 -46px;display: inline-block;vertical-align: top;margin-left: 30px;}
.no_buy h2 {margin-bottom: 10px;}
.no_buy ul {line-height: 34px;color: #FFE537;font-weight: 700;}
.no_buy .procuct {margin-top: 80px;}
.form { background: #FF3737; padding: 25px 0; }
.form button { line-height: 50px; height: 50px; }
.preorder {padding-bottom: 15px;}
.preorder img { width: 100%; }
.preorder .btn { line-height: 50px; height: 50px; }
.preorder h2 {margin-bottom: 20px;line-height: .87;padding-top: 14px;}
.preorder_case_1 { margin-bottom: 40px; }
.preloder__text {color: #FFE537;padding: 31px 0 42px;font-weight: 700;}
.price__title {color: #FFE537;line-height: 1.1;}
.preorder .price {margin-bottom: 10px;}
.preorder .product {margin-bottom: 28px;width: 80%;}
.manual img {width: 100%;border-radius: 10px;}
.manual h2 {color: #FFE537;margin-bottom: 20px;line-height: 1;}
.manual .preloder__steps { }
.manual .preloder__steps li {padding: 15px 0 15px 60px;position: relative;min-height: 84px;}
.manual .preloder__steps li span { width: 45px; height: 45px; position: absolute; border-radius: 100%; line-height: 45px; font-size: 48px; color: #000; background: #FFE537; text-align: center; font-family: "Proxima Nova Extra Condensed", Arial, sans-serif; font-style: italic; font-weight: 900; left: 0; top: 50%; margin-top: -22px; }
.stats {background: #fff;color: #000;padding-bottom: 0;}
.stats img { width: 100%; }
.stats .znak {background: url(../img/znak.png) left center no-repeat;padding: 45px 0 30px 110px;}
.stats .znak h3 {line-height: .89;}
.gallery {background: #fff;color: #000;padding-top: 45px;padding-bottom: 0;}
.gallery h2 {margin-bottom: 20px;text-transform: uppercase;line-height: 1;}
.gallery .gallery_row { margin: 0 -15px; text-align: center;}
.gallery .gallery_col { width: 33.33%; float: left; padding: 0 15px; margin-bottom: 30px; }
.vk { background: #fff; color: #000; }
.vk h2 { margin-bottom: 20px; text-transform: uppercase; }
.vk_row { margin: 0 -50px; background: #EDEEF0; border-radius: 2px; }
.vk_title { background: #517297; height: 32px; border-radius: 2px; margin-bottom: 30px; }
.vk_title img { height: 32px; }
.vk_item {padding: 30px 15px 30px 120px;background: #FFFFFF;border: 1px solid #DADADA;box-sizing: border-box;border-radius: 2px;font-size: 13px;line-height: 21px;min-height: 315px;margin-bottom: 30px;}
.vk_item img {width: 65px;border-radius: 50%;position: absolute;left: 50px;top: 30px;}
.vk_item .name { color: #517297; margin-bottom: 20px; }
.vk_item .text { margin-bottom: 20px; }
.vk_item .info { color: #517297; }
.vk_item .info span { color: #afafaf; margin-right: 20px; }
.reviews { background: #fff; color: #000; }
.reviews h2 { margin-bottom: 20px; text-transform: uppercase; }
.reviews_row { margin: 0 -50px; }
.reviews_item { width: 33.33%; float: left; padding: 0 50px; text-align: center; }
.reviews_item img { width: 165px; height: 165px; border-radius: 100%; margin-bottom: 50px; display: inline-block; }
.reviews_item p {margin-bottom: 30px;text-align: left;font-size: 14px;line-height: 23px;}
.reviews_item span {float: left;font-size: 14px;line-height: 23px; font-weight: bold;}
.vantage {
    padding: 0 0 40px;
}
.vantage_item { width: 50%; float: left; margin-top: 60px; }
.vantage_item h4 { margin-bottom: 10px; }
.footer { background: #fff; color: #9a9a9a; text-align: center; padding: 70px 0; }
.footer p { max-width: 425px; display: inline-block; font-size: 12px; line-height: 17px; }
@media screen and (max-width:939px) {
	h1 { font-size: 44px; }
	h2 { font-size: 42px; }
	h3 { font-size: 30px; }
	.btn { font-size: 30px; }
	.block { padding: 25px 0; }
	.attach { width: 768px; }
	.header .logo { width: 100%; float: left; margin-bottom: 20px; }
	.header .top i { display: inline-block; margin: 0 10px 0 0; float: left; }
	.header h1 { margin-bottom: 40px; }
	.info_img { width: 100%; float: left; margin: 0; margin-bottom: 20px; }
	.info__text { margin-bottom: 30px; }
	.stats .znak { padding: 0 0 0 110px; }
	.gallery .gallery_col img { max-width: 100%; }
	.reviews_row { margin: 0 -15px; }
	.reviews_item { padding: 0 15px; }
	.vantage_item { width: 100%; margin: 0 0 20px; }
	.info_img_product {width: 130px;left: 210px;top: -130px;}
	.gallery-open .close {  right: 10px !important; }
}
@media screen and (max-width:767px) {
	.btn { font-size: 24px; }
	.block { padding: 15px 0; }
	.attach { width: 480px; }
	.header .logo { width: auto; font-size: 18px; }
	.header .top i { display: inline-block; margin: 12px 0 0 10px; float: right; }
	.header h1 { margin-bottom: 15px; }
	.header h1 br { display: none; }
	.header h3 { margin-bottom: 30px; }
	.info { text-align: center; }
	.info img { max-width: 100%; margin-bottom: 15px; }
	.info__title { margin-bottom: 15px; text-align: left; }
	.info__text { text-align: left; }
	form input { margin-bottom: 10px; }
	.preorder { text-align: center; }
	.preorder .product { width: auto; margin: 0 20px 15px; }
	.manual img { margin-bottom: 15px; }
	.stats .znak { background-position: left top; }
	.gallery .gallery_col { width: 50%; }
	.reviews_item { width: 100%; margin-bottom: 15px; }
	.info_img_product {width: 130px;left: 320px;top: 150px;}

}
@media screen and (max-width:479px) {
	.attach { width: 320px; }
	h1 { font-size: 34px; }
	h2 { font-size: 34px; }
	h3 { font-size: 22px; }
	.header { text-align: center; }
	.header .logo { display: inline-block; text-align: left; }
	.header .top i { float: none; margin: 0 10px; }
	.header .price { width: 60%; }
	.header .order i.sale { left: -10px; }
	.info__title { padding-right: 0; height: 90px; }
	.info__title i { display: none; }
	.info__title:before { border-bottom: 90px solid #FFE537; }
	.info__title:after { border-top: 90px solid #FFE537; }
	.no_buy .procuct { margin-left: -30px; }
	.gallery .gallery_col { width: 100%; }
	.vk_item img { width: 60px; left: 30px; }
	.vk_item { padding-left: 90px; }
	.info_img_product { display: none; }
	.no_buy__price i { margin-left: 0; }
}

.gallery-open {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.8);
	align-items: center;
	justify-content: center;
	z-index: 10;
	display: none;
}
.gallery-open > div {
	position: relative;
	display: none;
}
.gallery-open .close {
	position: absolute;
	top: -20px;
	right: -20px;
	width: 40px;
	height: 40px;
	background-color: #fff;
	border-radius: 50%;
	cursor: pointer;
}
.gallery-open .close .line {
	position: absolute;
	height: 2px;
	background-color: #000;
	top: 50%;
	margin-top: -1px;
	left: 6px;
	right: 6px;
	transform: rotate(42deg);
}
.gallery-open .close .line:last-child {
	transform: rotate(-42deg);
}
