.swiper-slide
  padding: .1rem
  box-sizing: border-box
.slide-content
  padding: .1rem
  box-sizing: border-box
  font-size: 0.19rem
  line-height: 0.22rem
  padding-bottom: 0.2rem
  p
    margin: 0.15rem
      left: 0
      bottom: 0
.slide-name
  text-align: center
  color: #000
  max-width: 2.5rem
  margin: auto
  font-weight: bold

.pagination-wrap
  display: flex
  align-items: center
  justify-content: center
  position: relative
  height: 0.38rem
  margin-top: 0.3rem
  .swiper-pagination
    position: static
  .swiper-pagination-bullet
    width: 0.16rem
    height: 0.16rem
    border-radius: 50%
    opacity: 1
    background-color: #fff
    &-active
      background-color: $accent

.swiper__nav
  position: absolute
  top: 0
  bottom: 0
  flex-shrink: 0
  outline: none
  &--left
    left: 0.1rem
  &--right
    right: 0.1rem
  img
    width: 0.38rem
.sect9
  h2
    margin-bottom: 0.3rem
.sect9__item
  display: flex
  align-items: center
  margin-bottom: 0.2rem
  &:last-child
    margin-bottom: 0
  p
    margin: 0
  img
    flex-shrink: 0
    width: 0.7rem
    margin-right: 0.35rem