@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Merriweather Sans Light'), local('MerriweatherSans-Light'), url(../fonts/2-c49IRs1JiJN1FRAMjTN5zd9vgsFH1eYCDE0hM.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Sans'), local('MerriweatherSans-Regular'), url(../fonts/2-c99IRs1JiJN1FRAMjTN5zd9vgsFHX1QjA.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Sans Bold'), local('MerriweatherSans-Bold'), url(../fonts/2-c49IRs1JiJN1FRAMjTN5zd9vgsFH1OZyDE0hM.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Merriweather Sans ExtraBold'), local('MerriweatherSans-ExtraBold'), url(../fonts/2-c49IRs1JiJN1FRAMjTN5zd9vgsFH1SZCDE0hM.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../fonts/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  border-color: #dead66
}

body input:required:valid,
body textarea:required:valid {
  border-color: #dead66
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0
}

input[type="number"] {
  -moz-appearance: textfield
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}

input {
  height: 76px;
  width: 100%;
  border-radius: 10px;
  background-color: #f7f7fd;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #d7d7d7;
  font-size: 16px;
  color: #000
}

.input-wrap {
  position: relative;
  margin-bottom: 30px
}


.input-wrap img {
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 240px
}

button.part-five__button {
  margin: auto;
}