.header {
  height: 76px;
  @include flex(row, $item: center);
  background-color: #313131;

  &__wrapper {
    width: 100%;
    @include flex(row, space-between, center);
  }

  &__basket {
    @include flex(row, center, center);
    color: #fff;
    img {
      padding-right: 10px;
    }
  }
}