@import "vars"
@import "most"
@import "offer"
@import "anim"

// ========================>
// header
// <=======================
.main
  background-image: url(../../img/main_bg.png)
  padding-top: 0.6rem
.main__top
  color: #fff
  font-size: 0.24rem
  b
    display: block
    color: $accent
.main__title
  color: #fff
  font-size: 0.35rem

.price
  width: 0.77rem
  height: 0.54rem
  display: flex
  align-items: center
  justify-content: center
  border: 1px solid $accent
  span
    font-size: 0.26rem
    font-weight: bold
    color: #fff

.main__builets
  margin-top: 4rem
  padding-left: 0.3rem
.main__item
  color: #fff
  display: block
  font-weight: 400
  display: flex
  align-items: center
  margin-bottom: 0.2rem
  &:last-child
    margin-bottom: 0
  img
    flex-shrink: 0
    margin-right: 0.2rem
    width: 0.12rem

.sect2
  background-image: url(../../img/sect2_bg.png)
  background-position: center bottom
  background-repeat: no-repeat
  background-size: contain
  h2
    margin-bottom: 0.6rem
.sect2__item
  border-radius: 6px
  box-shadow: 0 5px 20px rgba(29, 29, 29, 0.1)
  padding: 0.05rem
  background-color: #fff
  margin-bottom: 0.3rem
  &:last-child
    margin-bottom: 0
.sect2__item-cont
  box-sizing: border-box
  border: 1px solid #e1e1e1
  border-radius: 6px
  background-color: #fff
  padding: .27rem
  padding-top: 0
  p
    margin: 0
  span
    font-weight: bold
    color: $accent
    margin-bottom: 0.16rem
    display: block
  img
    position: relative
    top: -0.2rem
    width: 2.44rem
    flex-shrink: 0
    text-align: center
    display: block
    margin: auto


.sect3
  background-image: url(../../img/sect3_bg.png)
  color: #fff
  h2
    color: #fff

.sect3__item
  background-color: #fff
  padding: 0.05rem
  border-radius: 6px
  box-shadow: 0 5px 20px rgba(29, 29, 29, 0.35)
  position: relative
  margin-bottom: 0.4rem
  &:last-child
    margin-bottom: 0
.sect3__item-content
  padding: 0.05rem
  border: 1px solid #e1e1e1
  border-radius: 6px
  padding: .36rem .27rem
  span
    color: #383838
.sect3__check
  position: absolute
  right: 0.1rem
  top: 0
  width: 0.72rem
  transform: translateY(-40%)

.sect3__bot
  margin-top: 3.4rem

.sect4
  h2
    font-size: 0.22rem

.sect4__content
  padding: .3rem 0
.sect4__item
  margin-bottom: 0.35rem
  &:last-child
    margin-bottom: 0
.sect4__area
  margin: 0.2rem
  padding: 0.05rem
  box-shadow: 0 5px 20px rgba(29, 29, 29, 0.1)
  border-radius: 6px
  background-color: #fff
  margin-top: -0.5rem
  z-index: 1
  position: relative
  p
    padding: 0.2rem 0.3rem
    border: 1px solid #e1e1e1
    margin: 0
    border-radius: 8px

.sect5
  background-image: url(../../img/sect5_bg.png)
  background-position: bottom center
  h2
    color: #fff

.sect5__content
  display: flex
  align-items: center
  flex-wrap: wrap
.sect5__item
  width: 50%
  height: 1.55rem
  position: relative
  display: flex
  align-items: flex-end
  padding-left: 0.15rem
  padding-bottom: 0.2rem
  box-sizing: border-box
  color: #fff
  word-spacing: normal
  img
    width: 0.53rem
    position: absolute
    right: 0.25rem
    top: 0.25rem
    flex-shrink: 0

  &:nth-child(1)
    border-radius: 6px 0 0
    background-color: #ef9020
  &:nth-child(2)
    border-radius: 0 6px 0 0
    background-color: #484848
  &:nth-child(3)
    background-color: #2d2d2d
  &:nth-child(4)
    border-radius: 0 0 6px
    background-color: #cc2d2c
  &:nth-child(5)
    background-color: #ffffff
    border-radius: 0 0 6px 6px
    color: #333

.slider__head
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 0.25rem
  .name
    max-width: 1.5rem
    color: $accent
    font-weight: bold
    word-spacing: 100px
    span
      word-spacing: normal
  img
    flex-shrink: 0
    width: 0.8rem
.reviews__slide
  border-radius: 6px
  background-color: #484848
  padding: 0.05rem
  box-sizing: border-box
  margin-bottom: 0.3rem
.slide__content
  border-radius: 6px
  border: 1px solid #b7b7b7
  box-sizing: border-box
  padding: .2rem
    top: 0.3rem
  p
    margin: 0
    font-style: italic
    color: #fff


.pagination-wrap
  margin-top: 0.2rem
  display: flex
  justify-content: center
  align-items: center
  .swiper-pagination-bullet
    width: .14rem
    height: .14rem
    border: 1px solid #f8a836
    background: transparent
    transition: .4s ease all
    margin: 0 .03rem
    opacity: 1
    &-active
      background: $accent
      transform: scale(1.1)

.sect7
  background-image: url(../../img/sect7_bg.png)
  background-position: center bottom
  h2 
    color: #fff

.sect7__trigger
  background-image: url(../../img/sect7_trg.png)
  background-size: contain
  background-repeat: no-repeat
  height: 1.7rem
  display: flex
  align-items: center
  box-sizing: border-box
  padding: 0.3rem
  p
    margin: 0
      bottom: 0.1rem

.sect7__builets
  padding-top: 0.6rem
.sect7__item
  display: flex
  align-items: center
  color: #fff
  margin-bottom: 0.4rem
  &:last-child
    margin-bottom: 0
  img
    flex-shrink: 0
.sect7__bul-wrap
  width: 0.8rem
  flex-shrink: 0
  margin-right: 0.15rem

.sect8
  background-image: url(../../img/footer_bg.png)

.form
  margin-top: 4rem