// html
//   font-size: 26.666666666667vw
//   background: #fff
//   @media (min-width: 480px)
//     font-size: 128px
//     overflow-x: hidden
html
  font-size: 20.833333vw
  @media (min-width: 481px)
    font-size: 100px
    overflow-x: hidden
body
  font-size: .22rem
  margin: auto
  position: relative
  line-height: 1.4
  font-weight: 300
  font-family: 'Roboto', sans-serif
  color: #333
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25)
  @media (max-width: 480px)
    font-size: 16px
  input, textarea
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green
.t-center
  text-align: center
img
  width: 100%

.img-wrap
  margin: auto
  &.small
    max-width: 430px
  .bottom_txt
    color: #93a559
    font-size: 18px
    font-weight: 400
    font-style: italic
    line-height: 0.6

.h-100
  height: 100%