@import "var";
@import "most";
// components
@import "components/header";

main {
  padding-bottom: 4rem;
}

.prod__title {
  font-weight: 500;
  font-size: 25px;
  color: #181a19;
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}

.intro {
  &__content {
    @include flex(row, center, flex-start);

    @include desctop {
      flex-direction: column;
    }
  }

  &__item {
    width: 50%;
    margin: 1rem;

    @include desctop {
      width: 100%;
      margin: 0;
      margin-bottom: 1.4rem;
    }

    h2 {
      font-weight: 600;
      font-size: 27px;
      margin: 0;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    .subhead {
      margin: 0;
    }

    img {
      max-width: 100%;
    }

    &:first-child {
      position: relative;
    }

    &:last-child {
      margin-left: -4rem;
      @include desctop {
        margin-left: 0;
        margin: 0;
      }
    }
  }
  &__heading {
    padding: 0 5rem;
    @include desctop {
      padding: 1rem;
    }
  }
}

.features {
  margin-top: 2rem;
  padding: 1rem 5rem;
  background-color: #FCF7EF;
  width: 100%;

  @include desctop {
    padding: 1rem;
  }
}

.builets {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  list-style: url(../../img/check.png);
  padding-bottom: 1rem;

  &__item {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    padding: 0.6rem 0;
  }
}

.price {
  @include flex(column);
  color: $accent;
  margin-bottom: 2rem;

  span {
    font-size: 13px;
    padding-left: 1rem;
    color: #FF6433;
  }

  b {
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
  }
}

.quatity {
  @include flex(row, space-between, center);
  height: 58px;
  border: 1px solid #C4C4C4;
  max-width: 180px;
  font-size: 23px;
  margin-bottom: 2rem;

  button {
    background-color: #EFEFEF;
    @include flex(row, center, center);
    width: 60px;
    height: 100%;
    border: none;
    font-size: 30px;
    font-weight: lighter;
    cursor: pointer;
  }
}

.sect {
  padding: 20px 0;
  background-color: #ECF4DB;

  &__title {
    @extend .prod__title;
    margin-bottom: 4rem;
  }

  &__row {
    @include flex(row, $item: center, $wrap: wrap);
  }

  &__item {
    padding: 0 1rem;
    font-weight: 500;

    @include desctop {
      padding: 0;
    }

    &:first-child {
      width: 40%;

      img {
        position: relative;
        bottom: 40px;
      }

      @include tablet {
        width: 100%;
      }
    }

    &:last-child {
      width: 60%;

      @include tablet {
        width: 100%;
      }
    }

    img {
      max-width: 100%;
    }
  }
}
