input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

input[type="number"]
  -moz-appearance: textfield

input[type="number"]:hover,
input[type="number"]:focus
  -moz-appearance: number-input

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0

form
  box-sizing: border-box
  margin: auto
  display: flex
  align-items: center
  flex-direction: column
  padding-top: 0.5rem
  padding-bottom: 0.3rem
input
  height: .7rem
  width: 100%
  padding-left: 0.3rem
  border: 1px solid #CFCFCF
  box-sizing: border-box
  border-radius: 41px
  font-size: 0.16rem
  color: #000
  background: rgba(255, 255, 255, 0.88)
  margin-bottom: 0.4rem
input::placeholder
  font-size: 0.22rem
  font-family: inherit
// ========================>
// policy
// <=======================
.policy__bot
  background: #fff
  margin-top: auto
.policy_wrap
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  min-height: 1rem
  font-size: 0.14rem
  color: #333
  text-align: center
  a
    color: #7c7e86