@font-face {
    font-family: 'Intro';
    src: url("../subset-Intro.bin") format('woff2'),
        url("../font/subset-Intro.woff") format('woff'),
        url("../subset-Intro-1.bin") format('truetype');
    font-weight: 400;
    font-style: normal;
}
